/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px 160px;
}

/* card 1 */
.card {
  background-color: hsl(31, 77%, 52%);
  padding: 35px 25px;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.card h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.card p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn {
  margin-top: 25px;
  border: none;
  padding: 9px 26px;
  border-radius: 50px;
  background: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border: 1px solid #fff;
}

.btn:hover {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

/* card 2 */
.card2 {
  background: hsl(184, 100%, 22%);
  padding: 35px 25px;
  color: #fff;
}

.card2 h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.card2 p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn2 {
  margin-top: 45px;
  border: none;
  padding: 9px 26px;
  border-radius: 50px;
  background: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border: 1px solid #fff;
}

.btn2:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

/* card 3 */
.card3 {
  background: hsl(179, 100%, 13%);
  padding: 35px 25px;
  color: #fff;
  border-radius: 0 10px 10px 0;
}

.card3 h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.card3 p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn3 {
  margin-top: 25px;
  border: none;
  padding: 9px 26px;
  border-radius: 50px;
  background: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: 1px solid #fff;
}

.btn3:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

/* footer */
footer {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Lexend Deca';
  font-size: 12px;
}



@media (max-width: 844px) {
  .container {
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    margin: 10% 10%;
  }

  .card {
    border-radius: 10px 10px 0 0;
  }

  .card3 {
    border-radius: 0 0 10px 10px;
  }

  .btn2 {
    margin-top: 25px;
  }
}
